<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="http://4dm7pi3anfms2bn7sk7u16h1.wpengine.netdna-cdn.com/wp-content/uploads/2015/07/Windows10-wallpaper-img101.png">
    <h1><%= title %></h1>
    <% if(who){ %>
    <p>你好! <%=who %></p>
    <a href="/articles">發表文章<a>
    <% } else { %>

    <form method="post" action="/verify">
      <p>
        名稱：<input type="text" id="username" name="username" />
        <input type="submit" value="登入"/>
      </p>
    </form>
    <% } %>
  </body>
</html>
